<html>
  <head>
    <style>
      .user_profile{
        position:relative;
        top:70px;
        width:800px;
        margin-left:237px;}
    </style>
  </head>
  <body>
  <div class="user_profile bg-white">
    <div class="p-3 d-flex">
      <%= image_tag url_for(UserProfile.find_by(user_id: @user.id).profile_image) ,style:"width:100px; height:100px ; border-radius:180px " if UserProfile.find_by(user_id: @user.id).profile_image.attached? %> 
      <div class="ms-3">
        <%= button_to "Follow", user_relationships_path(@user), method: :post, class: "btn btn-primary", form: { data: { turbo: false } } unless @user.followers.find_by(follower: current_user).present? %>
        <%= button_to "Unfollow" , relationship_path(@user.followers.find_by(follower: current_user).id) , method: :delete , class:"btn btn-primary" if @user.followers.find_by(follower: current_user).present? %>
      </div> 
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="pb-4">Name</th>
          <th scope="col" class="pb-4">User_name</th>
          <th scope="col"><%= render "allFollower" , user_follower: @user_follower %> </th>
          <th scope="col"><%= render "allFollowed" , user_following: @user_following %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.name %></td>
          <td><%= @user.user_name %></td>
          <td><%= @user.following.count %>  </td>
          <td><%= @user.followers.count %>  </td>
        </tr>
      </tbody>
    </table>

    <div class="row p-4">
      <% @user_post.each do |user_post| %>
      <div class="card" style="width: 16rem;">
        <% if user_post.post_images.attached? %>
        <a href="/posts/<%= user_post.id %> ">
          <%= image_tag main_app.rails_blob_url(user_post&.post_images&.attachments&.first) , class:"card-img-top"  if user_post.post_images.attached? %>
        </a>
          <div class="card-body">
            <p>Likes:- <%= user_post.likes.count %>  </p>
            <p>Comments:- <%= user_post.comments.count %> </p>
            <p class="card-text"><%= user_post.caption %></p> 
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  </body>
</html>