<html>
  <head>
    <style>
      .chat{
        width:360px;
        position: relative;
        top:100px;
        left:400px;}
        
      .chat:hover{
        box-shadow: 10px 10px 20px 10px grey ;
        border-radius:10px;
        border:1px solid green;}
    </style>
  </head>
  <body>
    <div class="chat , card">
      <div class="conatainer-fluid">
        <div class="row">
          <div class="col-9">
            <div class="ms-5 mt-2"><%= render 'form' ,  room: Room.new %></div>
              <div class="mt-5 ms-5">
                <h5>Chat List</h5>
                <% if Room.any? %>
                  <table class="table">
                    <tbody>
                      <% @rooms.each do |room| %>
                        <% if (room.created_by == current_user.id) %>
                          <tr>
                            <td> 
                              <a href="<%= show_user_path(User.find(room.created_for).id) %> " >
                                <%= image_tag main_app.rails_blob_url(UserProfile.find_by(user_id: User.find(room.created_for).id ).profile_image.attachments&.first), style: "width:35px; height:35px; border-radius:100px" %>
                              </a>
                            </td>
                            <td>
                              <%= link_to "#{User.find(room.created_for).name}", room_path(room.id), class: "nav-link" %>
                            </td>
                            <td>
                              <%= link_to "Remove", room_path(room.id),  data: { turbo_method: :delete , turbo_confirm: "Are you sure?" }, class: "nav-link" %>
                            </td>
                          </tr>
                        <% elsif (room.created_for == current_user.id) %>
                          <tr>
                            <td>
                              <a href="<%= show_user_path(User.find(room.created_by).id) %> " >
                                <%= image_tag main_app.rails_blob_url(UserProfile.find_by(user_id: User.find(room.created_by).id ).profile_image.attachments&.first), style: "width:35px; height:35px; border-radius:100px" %>
                              </a>
                            </td>
                            <td>
                              <%= link_to "#{User.find(room.created_by).name}", room_path(room.id), class: "nav-link" %>
                            </td>
                            <td>
                              <%= link_to "Remove", room_path(room.id),  data: { turbo_method: :delete ,  turbo_confirm: "Are you sure?" }, class: "nav-link" %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
