<html>
  <head>
    <style>
      .Chat{
        width:400px;
        position: relative;
        top:100px;
        left:400px; }
    </style>
  </head>
  <body>
    <div class="Chat , card">
      <div class="conatainer-fluid">
        <div class="row">
          <div class="col-9">
            <%= render 'form' ,  room: Room.new %>

            <div class="mt-5">
              <h5>Room</h5>
              <div id="rooms">
              <% if Room.any? %>
                <% @rooms.each do |room| %>
                  
                  <% if Room.new.find_room_for_current_user(room , current_user.id) %>
                 
                    <%= link_to room_path(room.id) do %>
                      <div class="d-flex">
                        <p><%= room.name %> 
                          <%= link_to "Delete" , room_path(room.id) , data: { turbo_method: :delete  , turbo_confirm: "Are you sure?" } ,  class:"nav-link" %>
                        </p>
                      </div>
                    <% end %>
                  <% else %>
                    <%= room.name %> 
                  <% end  %>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
