<html>
  <head>
    <style>
      .Chat{
        width:400px;
        position: relative;
        top:100px;
        left:400px; }
    </style>
  </head>
  <body>
    <div class="Chat , card">
      <div class="conatainer-fluid">
        <div class="row">
          <div class="col-9">
            <%= render 'form' ,  room: Room.new %>
              <div class="mt-5">
                <h5>Chat List</h5>
                <% if Room.any? %>
                  <table class="table">
                    <tbody>
                      <% @rooms.each do |room| %>
                        <% if (room.created_by == current_user.id) %>
                          <tr>
                            <td> 
                              <a href="<%= show_user_path(User.find(room.created_for).id) %> " >
                                <%= image_tag main_app.rails_blob_url(UserProfile.find_by(user_id: User.find(room.created_for).id ).profile_image.attachments&.first), style: "width:35px; height:35px; border-radius:100px" %>
                              </a>
                            </td>
                            <td>
                              <%= link_to "#{User.find(room.created_for).name}", room_path(room.id), class: "nav-link" %>
                            </td>
                            <td>
                              <%= link_to "Delete", room_path(room.id), method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link" %>
                            </td>
                          </tr>
                        <% elsif (room.created_for == current_user.id) %>
                          <tr>
                            <td>
                              <a href="<%= show_user_path(User.find(room.created_by).id) %> " >
                                <%= image_tag main_app.rails_blob_url(UserProfile.find_by(user_id: User.find(room.created_by).id ).profile_image.attachments&.first), style: "width:35px; height:35px; border-radius:100px" %>
                              </a>
                            </td>
                            <td>
                              <%= link_to "#{User.find(room.created_by).name}", room_path(room.id), class: "nav-link" %>
                            </td>
                            <td>
                              <%= link_to "Delete", room_path(room.id), method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link" %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
