<% @posts.each do |p| %>
    <div class="card mb-3 bg-info-subtle">
    
    <% if p.post_images.present? %>
    <div>
     <p><%= User.find_by(id:(p.user_id)).name %> </p>

      <%= link_to main_app.rails_blob_url(p&.post_images&.first&.attachments&.first), target: "_blank" do %>
       <%= image_tag  main_app.rails_blob_url(p&.post_images&.first&.attachments&.first), style:"max-width: 100%" %>
       
       <% end %>
       <p><%= p.caption %> </p>

       <!-- like button -->
        <%= form_with(url: post_likes_path(p)) do %> 
       <button class="btn btn-outline-success"><%= Like %></button> 
        <button class="btn btn-outline-success" ><%= Post.find(p.id).likes.count %></button>
        <img src="https://cdn-icons-png.flaticon.com/128/134/134808.png", style="max-width:3%; margin-left:10px ">
       <% end %>

       
       
       
      <div class="btn btn-outline-success"><%= link_to "Create Commment" , new_post_comment_path(p) %></div>
      
       </div>
       <% end %>
       </div>

       <% end %>
</div>
