<!-- app/views/image_posts/show.html.erb -->
<div style="margin-left:50%"><%= link_to 'Delete Post', post_path(@post), data: {  
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"} ,  class: 'btn btn-secondary'  %>
  <%= link_to 'see all post', posts_path, class: 'btn btn-secondary' %>
</div>

<div class="container col-8">
  <div class="row">
    <div class="card mb-3"> 
      <% if @post.post_images.present? && @post.id.present? %>
        <p><%= User.find_by(id:(@post.user_id)).name %></p>
        <%= image_tag (@post.post_images.first.attachments.first  if @post.post_images.attached?) , style:" max-width: 100%;" %>
        <div class="mt-3">
          <p><%= @post.caption %></p>
          <div>
            <% if user_signed_in? %>
              <% if Like.where(user_id: current_user.id , likeable_id: @post.id ).present? %> 
                <%= link_to "Unlike", post_like_path(post_id:@post.id , id:Like.find_by(user_id: current_user.id , likeable_id: @post.id ).id ) , class: "btn btn-outline-success btn-sm", style:"height:38px" , data: { turbo_method: :delete } %>
                <button class="btn btn-outline-success , ms-1"  style="height:38px"><%= Post.find(@post.id).likes.count %></button>
              <% else %>
              <%= form_with(url: post_likes_path(@post)) do %>
              <button class="btn btn-outline-success"> <%= Like %> </button>
              <button class="btn btn-outline-success"><%= Post.find(@post.id).likes.count %></button>
              <% end %>
              <% end %>
            <% end %> 
            <div>
              <%=render "posts/allcomment" , post: @post %>
            </div> 
            <div style="margin-left:93.5%">
              <%= link_to 'Back', posts_path, class:"btn btn-outline-success" %>
            </div>
            <% else %><div class="form-group mt-4 , text-center">
            <%= form.submit 'Create Post', class: 'btn btn-dark' %>
          </div>
            <p>There is no post available</p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



